*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.jodit-status-bar a.jodit-status-bar-link{
  color: green !important;
  display: none;
}

#subcat {
  transition: max-height 0.7s ease-in-out, opacity 0.7s ease-in-out;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}